.navigation {
    font-size: 25px;
    border-bottom: 2px solid rgb(195, 97, 212);
    margin: 10px;
}

.navigation__list {
    list-style-type: none;
    padding: 20px;
}

.navigation__listItem {
    text-decoration: none;
}

.navigation__link {
    text-decoration: none;
    color: black;
}

.navigation__link:hover {
    color: blueviolet
}